/*
 * SPDX-FileCopyrightText: 2025 SunnyMonster
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.animateIn {
  animation: grow 100ms ease-in-out forwards;
}

.animateOut {
  animation: grow 100ms ease-in-out reverse forwards;
}

@keyframes grow {
  from {
    border-radius: 1.25rem;
    width: 2.5rem;
  }

  to {
    border-radius: 0.375rem;
    width: 3.5rem;
  }
}
