/*
 * SPDX-FileCopyrightText: 2025 SunnyMonster
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    /*-moz-appearance: textfield;*/
  }

  .fadeIn > *,
  .fadeIn::before,
  .fadeIn::after {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 500ms cubic-bezier(0.14, 0.64, 0.46, 1) forwards;
  }

  @for $i from 1 through 25 {
    .fadeIn > :nth-child(#{$i}) {
      animation-delay: calc($i * 0.1s);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

html.dark body {
  @apply mocha;
}

html.light body {
  @apply latte;
}

a.underlined {
  @apply relative transition-colors before:transition-all dark:hover:text-mantle z-10 whitespace-nowrap
    text-text no-underline
    before:absolute before:bg-yellow before:-z-10 before:rounded-[0.3em] before:inset-x-0 before:-bottom-0.5 before:h-[3px]
    hover:before:-inset-x-1 hover:before:-bottom-[4px] hover:before:h-[calc(100%+8px)] hover:before:bg-yellow;
}

a.external {
  @apply after:content-['↗'] after:font-nav after:ml-[0.25em];
}

html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.sun_and_moon {
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  width: 24px;
  max-width: 24px;
  height: 24px;
  max-height: 24px;
  border: unset;
  inline-size: 100%;
  block-size: 100%;
  stroke-linecap: round;
  color: rgb(var(--ctp-text));

  & > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }

  & > :is(.moon, .sun) {
    fill: rgb(var(--ctp-text));

    .theme-toggle:is(:hover, :focus-visible) > & {
      fill: rgb(var(--ctp-subtext0));
    }
  }

  & > .sun-beams {
    stroke: rgb(var(--ctp-text));
    stroke-width: 2px;

    .theme-toggle:is(:hover, :focus-visible) & {
      stroke: rgb(var(--ctp-subtext0));
    }
  }

  html.dark & {
    & > .sun {
      transform: scale(1.75);
    }

    & > .sun-beams {
      opacity: 0;
    }

    & > .moon > circle {
      transform: translateX(-7px);

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 17;
      }
    }
  }

  & > .sun {
    transition: transform 0.5s cubic-bezier(0.5, 1.25, 0.75, 1.25);
  }

  & > .sun-beams {
    transition:
      transform 0.5s cubic-bezier(0.5, 1.5, 0.75, 1.25),
      opacity 0.5s cubic-bezier(0.25, 0, 0.3, 1);
  }

  html.dark & {
    & > .sun {
      transform: scale(1.75);
      transition-timing-function: cubic-bezier(0.25, 0, 0.3, 1);
      transition-duration: 0.25s;
    }

    & > .sun-beams {
      transform: rotateZ(-25deg);
      transition-duration: 0.15s;
    }
  }

  & .moon > circle {
    transition: transform 0.25s cubic-bezier(0, 0, 0, 1);

    @supports (cx: 1) {
      transition: cx 0.25s cubic-bezier(0, 0, 0, 1);
    }
  }

  html.dark & {
    & > .moon > circle {
      transition-delay: 0.25s;
      transition-duration: 0.5s;
    }
  }
}
