/*
 * SPDX-FileCopyrightText: 2025 SunnyMonster
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.hamburger {
  display: flex;
  height: 28px;
  width: 28px;
  align-items: center;
  justify-content: center;
  touch-action: manipulation;
  cursor: pointer;
}

@media (min-width: 830px) {
  .hamburger {
    display: none;
  }
}

.hamburger span::before,
.hamburger span::after,
.hamburger span {
  content: "";
  display: block;
  width: 25px;
  height: 3px;
  @apply bg-text;
  border-radius: 9999px;
  transition: all 300ms ease-in-out;
  box-sizing: border-box;
  transform-origin: center;
  pointer-events: none;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
}

.hamburger span::before {
  transition-delay: 50ms;
  bottom: 8px;
}

.hamburger span::after {
  transition-delay: 100ms;
  top: 8px;
}

.hamburger span {
  position: relative;
}

.hamburger.active span {
  background-color: #ffffff00;
}

.hamburger.active span::before {
  transform: translate(0, 8px) rotate(45deg);
}

.hamburger.active span::after {
  transform: translate(0, -8px) rotate(315deg);
}
